<form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
    <h2>Profile</h2>
    <p>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" formControlName="firstName">
        <span class="error-message" *ngIf="firstName.hasError('required') && firstName.dirty">Required Field</span>
    </p>
    <p>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" formControlName="lastName">
        <span class="error-message" *ngIf="lastName.hasError('required') && lastName.dirty">Required Field</span>
    </p>
    <p>
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email">
        <span class="error-message" *ngIf="emailError()">Must include "@" symbol</span>
    </p>
    <hr>
    <h2>Phone Numbers</h2>
    <div formArrayName="phoneNumbers" *ngFor="let numbers of PhoneNumbersArray.controls; let i = index">
        <div class="phone-number" [formGroupName]="i">
            <p>
                <label for="number">Number {{i}}</label>
                <input type="text" id="number{{i}}" formControlName="number">
            </p>
            <button class="remove-button" (click)="removeNumber(i)">Remove</button>
        </div>
    </div>
    <button (click)="addFormControl()">add</button>
    <hr>
    <button (click)="clearForm()">Clear Form</button>
    <button (click)="clearPhoneNumbers()">Clear Phone Numbers</button>
    <button type="submit" [disabled]="profileForm.invalid">Submit</button>
    <p>Form Value: {{ profileForm.value | json }}</p>
    <p>form status: {{ profileForm.status }}</p>
</form>

