<ng-container [formGroup]="parentForm">
    <h2>Phone Numbers</h2>
    <div formArrayName="phoneNumbers" *ngFor="let _ of PhoneNumbersArray.controls; let phoneGroupIndex = index">
        <div class="phone-number" [formGroupName]="phoneGroupIndex">
            <p>
                <label for="number">Number {{phoneGroupIndex}}</label>
                <input type="text" id="number{{phoneGroupIndex}}" formControlName="number">
            </p>
            <button class="remove-button" (click)="removeNumber(phoneGroupIndex)">Remove</button> 
        </div>
    </div>
    <button type="button" (click)="addFormControl()">add</button>
    <button type="button" (click)="clearPhoneNumbers()">Delete All Phone Numbers</button>
</ng-container>